.cover__overlay {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 245px 312px;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .cover__overlay {
        padding: 295px 232px;
    }
}

@media screen and (max-width: 768px) {
    .cover__overlay {
        padding: 115px 104px;
    }
}

@media screen and (max-width: 320px) {
    .cover__overlay {
        padding: 33px 16px;
    }
}