.cover__title {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #fff;
    margin: 0;
    max-width: 540px;
    text-align: center;
    align-self: center;
}

@media screen and (max-width: 700px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 290px;
    } 
}

@media screen and (max-width: 440px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 240px;
    } 
}