.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: calc(100% - 48px*2);
    margin: 0 auto;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: calc(100% - 24px*2);
    }
}

@media screen and (max-width: 490px) {
    .footer {
        flex-direction: column;
        min-width: calc(100% - 16px *2);
    }
}